 <!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
         <div th:replace="~{fragment :: styles}"></div>
         <!-- Flatpickr -->
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
           
         <title>店舗詳細</title>   
     </head>
     <body>
         <div class="nagoyameshi-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container pt-4 pb-5 nagoyameshi-container">
                     <div class="row justify-content-center">
                         <div class="col-xxl-9 col-xl-10 col-lg-11">
                             <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                 <ol class="breadcrumb mb-0">                        
                                     <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                     <li class="breadcrumb-item"><a th:href="@{/restaurants}">店舗一覧</a></li>
                                     <li class="breadcrumb-item active" aria-current="page">店舗詳細</li>
                                 </ol>
                             </nav>
                             
                             <div sec:authorize="hasRole('ROLE_PAID')" class="d-flex justify-content-end">
								 <div th:if="${hasUserFavorite}">
									 <form th:action="@{/favorite/delete/__${restaurant.id}__}" method="post">
										 <button type="submit" class="btn btn-link text-decolation-none right">&#9829;お気に入り解除</button> <!-- &#9829; は ♥ -->
								     </form>
								 </div>
								 <div th:unless="${hasUserFavorite}" >
									 <form th:action="@{/favorite/add/__${restaurant.id}__}" method="post">
										 <button type="submit" class="btn btn-link text-decolation-none right">&#9825;お気に入り追加</button> <!-- &#9825; は ♡ -->
								    </form>
								 </div>
							 </div>
								
                             <h1 class="mb-4 text-center" th:text="${restaurant.getName()}"></h1>                                                           
                             
                             <div th:if="${errorMessage}" class="alert alert-danger">
                                 <span th:text="${errorMessage}"></span>
                             </div>                                                                         
                             
                             <div class="mb-4">
                                 <img th:if="${restaurant.getImageName()}" th:src="@{/storage/__${restaurant.getImageName()}__}" class="w-100" alt="店舗画像">
                                 <img th:unless="${restaurant.getImageName()}" th:src="@{/images/noImage.png}" class="w-100" alt="NO IMAGE">
                             </div> 
                             
                             <div class="container">  
                                 <div class="row">
                                     <div class="col-lg-8 container mb-4">            
                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-4">
                                                 <span class="fw-bold">店舗名</span>
                                             </div>
                     
                                             <div class="col">
                                                 <span th:text="${restaurant.getName()}"></span>
                                             </div>
                                         </div>                    
                     
                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-4">
                                                 <span class="fw-bold">説明</span>
                                             </div>
                     
                                             <div class="col">
                                                 <span class="nagoyameshi-pre-wrap" th:text="${restaurant.getDescription()}"></span>
                                             </div>
                                         </div>
                     
                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-4">
                                                 <span class="fw-bold">金額</span>
                                             </div>
                     
                                             <div class="col">
                                                 <span th:text="${#numbers.formatInteger(restaurant.getPrice(), 1, 'COMMA') + '円'}"></span>
                                             </div>
                                         </div> 
                                         
                                        <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-4">
                                                 <span class="fw-bold">定員</span>
                                             </div>
                     
                                             <div class="col">
                                                 <span th:text="${restaurant.getCapacity() + '人'}"></span>
                                             </div>
                                         </div>                                
                                         
                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-4">
                                                 <span class="fw-bold">郵便番号</span>
                                             </div>
                     
                                             <div class="col">
                                                 <span th:text="${restaurant.getPostalCode()}"></span>
                                             </div>
                                         </div>   
                                         
                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-4">
                                                 <span class="fw-bold">住所</span>
                                             </div>
                     
                                             <div class="col">
                                                 <span th:text="${restaurant.getAddress()}"></span>
                                             </div>
                                         </div>   
                                         
                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-4">
                                                 <span class="fw-bold">電話番号</span>
                                             </div>
                     
                                             <div class="col">
                                                 <span th:text="${restaurant.getPhoneNumber()}"></span>
                                             </div>
                                         </div>                                
                                     </div>
                                     
                                     <div class="col-lg-4 px-0 ps-lg-4 mb-4" sec:authorize="isAnonymous()">                  
                                         <div class="card">
                                             <div class="card-body">                                                                                                                                                                                                                     
                                                 <p class="card-text">予約するには<a th:href="@{/paid}">ログイン</a>が必要です。</p>                                                                                                                                            
                                                 <button type="submit" class="btn text-white shadow-sm w-100 nagoyameshi-btn" disabled>予約する</button>                                                                                                                
                                             </div>
                                         </div>  
                                     </div>  
                                                       
                                     <div sec:authorize="hasRole('ROLE_GENERAL')" class="col-lg-4 px-0 ps-lg-4 mb-4">                  
                                         <div class="card">
                                             <div class="card-body">                                                                                                                                                                                                                     
                                                 <p class="card-text">予約するには<a th:href="@{/paid}">有料会員登録</a>が必要です。</p>                                                                                                                                            
                                                 <button type="submit" class="btn text-white shadow-sm w-100 nagoyameshi-btn" disabled>予約する</button>                                                                                                                
                                             </div>
                                         </div>  
                                     </div>
                                     
                                     <div sec:authorize="hasRole('ROLE_PAID')" class="col-lg-4 px-0 ps-lg-4 mb-4">                  
                                         <div class="card">
                                             <div class="card-body"> 
                                                 <form method="get" th:action="@{/restaurants/__${restaurant.getId()}__/reservations/input}" th:object="${reservationInputForm}">                                                                                                                                                                       
                                                     <div class="form-group mb-2">                                            
                                                         <label for="ReserveDate" class="col-form-label text-md-left fw-bold">予約日</label>    
                                                         <div th:if="${#fields.hasErrors('ReserveDate')}" class="text-danger small mb-2" th:errors="*{ReserveDate}"></div>                                          
                                                         <input type="text" class="form-control" th:field="*{ReserveDate}">                                                                     
                                                     </div>
                                                     
                                                     <div class="form-group mb-4">                                            
                                                         <label for="numberOfPeople" class="col-form-label text-md-left fw-bold">人数</label>  
                                                         <div th:if="${#fields.hasErrors('numberOfPeople')}" class="text-danger small mb-2" th:errors="*{numberOfPeople}"></div>                                            
                                                         <input type="number" class="form-control" th:field="*{numberOfPeople}" min="1">                                                                     
                                                     </div>
                                                                                                         
                                                     <div class="form-group">
                                                         <button type="submit" class="btn text-white shadow-sm w-100 nagoyameshi-btn">予約する</button>
                                                     </div>
                                                 </form>                                                                     
                                             </div>
                                         </div>  
                                     </div>
                                                                                                                                     
                                 </div>                                                                                             
                             </div>
                         </div>
                     </div>
                 </div>
                 
                 <!-- レビュー -->
                 <h2 class="m-4 text-center">レビュー</h2>  
				<div class="text-center" sec:authorize="hasRole('ROLE_PAID')">
					  <a th:if="${!hasUserReviewed}" th:href="@{/review/register/__${restaurant.getId()}__}" class="btn text-white shadow-sm mb-3 nagoyameshi-btn w-25">レビューを投稿する</a>
				</div>
                 <div class="review-card container center-block p-3">
					 <div class="card d-flex m-2" th:each="reviews : ${review}"  style="width: 400px;">
						 <div class="card-body">
							 <div class="card-title d-flex justify-content-between">
								 <h5 class="card-title" th:text="${reviews.getUser().getName()}"></h5>
								 <div sec:authorize="hasRole('ROLE_PAID')" th:if="${user.id} == ${reviews.getUser().getId()}" >
									 <a  th:href="@{/review/edit/__${reviews.getId()}__}">編集</a>
									 <a  href="#" class="nagoyameshi-link-danger" data-bs-toggle="modal" th:data-bs-target="${'#deleteRestaurantModal' + reviews.getId()}">削除</a></td>     

                                         <!-- 削除用モーダル -->
                                         <div class="modal fade" th:id="${'deleteRestaurantModal' + reviews.getId()}" tabindex="-1" th:aria-labelledby="${'deleteRestaurantModalLabel' + reviews.getId()}">
                                             <div class="modal-dialog">
                                                 <div class="modal-content">
                                                     <div class="modal-header">
                                                         <h5 class="modal-title" th:id="${'deleteRestaurantModalLabel' + reviews.getId()}" th:text="${restaurant.getName() + 'のレビューを削除してもよろしいですか？'}"></h5>
                                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                                                     </div>
                                                     <div class="modal-footer">
                                                         <form method="post"th:action="@{/review/delete/__${reviews.getId()}__}">
                                                             <button type="submit" class="btn nagoyameshi-btn-danger text-white shadow-sm">削除</button>
                                                         </form>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                         
                                   </div>
							 </div>
								 <div class="card-subtitle " th:if="${reviews.getAssessment() ==5}">
									 <span class="text-warning" th:text="${'&#9733;' + '&#9733;' + '&#9733;' + '&#9733;' + '&#9733;'}"></span>
								 </div>
								 <div class="card-subtitle" th:if="${reviews.getAssessment() ==4}">
									 <span class="text-warning" th:text="${'&#9733;' + '&#9733;' + '&#9733;' + '&#9733;' + '&#9734;'}"></span>
								 </div>
								 <div class="card-subtitle" th:if="${reviews.getAssessment() ==3}">
									 <span class="text-warning" th:text="${'&#9733;' + '&#9733;' + '&#9733;' + '&#9734;' + '&#9734;'}"></span>
							   </div>
							   <div class="card-subtitle" th:if="${reviews.getAssessment() ==2}">
								   <span class="text-warning" th:text="${'&#9733;' + '&#9733;' + '&#9734;' + '&#9734;' + '&#9734;'}"></span>
							   </div>
							   <div class="card-subtitle" th:if="${reviews.getAssessment() ==1}">
								    <span class="text-warning" th:text="${'&#9733;' + '&#9734;' + '&#9734;' + '&#9734;' + '&#9734;'}"></span>
						  	  </div>
						  	  <p class="card-text"  th:text="${#dates.format(reviews.getCreateDate(), 'yyyy年MM月dd日')}"></p>
						  	  <p class="card-text" th:text="${reviews.getComment()}"></p>
				           </div>
				       </div>
			      </div>
				<div class="mb-4" style="text-align: center;">
					<a th:if="${review.getTotalElements() gt 6}" th:href="@{/review/list/__${restaurant.getId()}__}">すべてのレビューを見る</a>
					<p th:if="${review.getTotalElements() == 0}">まだレビューがありません</p> 				
			    </div>
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>  
         
         <!-- Flatpickr -->
         <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
         <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
         <script th:src="@{/js/flatpickr.js}"></script> 
         
   </body>
 </html>
