 <!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
         <div th:replace="~{fragment :: styles}"></div>
         <!-- Flatpickr -->
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
           
         <title>有料会員登録</title>   
     </head>
     <body>
         <div class="nagoyameshi-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container pt-4 pb-5 nagoyameshi-container">
					 <div class="row justify-content-center">
						 <div class="col-xl-5 col-lg-6 col-md-8">
                             <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
								 <ol class="breadcrumb mb-0">                        
                                     <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                     <li class="breadcrumb-item active" aria-current="page">有料会員変更</li>
                                 </ol>
                             </nav>
                         
                             <h1 class="mb-4 text-center">有料会員情報変更</h1>
                             
                             <div class="card mb-3">
								 <div class="card-header text-center">
									 有料プランの内容
								</div>
								<div class="card-body">
									<ul class="list-group list-group-flush">
										<li class="list-group-item">当日の2時間前までならいつでも予約可能</li>
										<li class="list-group-item">店舗をお好きなだけお気に入りに追加可能</li>
										<li class="list-group-item">レビューを全件閲覧可能</li>
										<li class="list-group-item">レビューを投稿可能</li>
										<li class="list-group-item">月額たったの300円</li>
									</ul>
								</div>
                         </div>
                         
                         <form id="payment-form">
							<div>
							    <input type="text" id="cardholder-name" class="m-3 p-2" style="border-bottom: 2px solid 	#DDDDDD;" placeholder="カード名義人">
							</div>
							<div id="card-element" class="m-3 p-2" style="border-bottom: 2px solid 	#DDDDDD;">
								<!--Stripe.js injects the Card Element-->
							</div>
							<div class="text-center">
								<button type="submit" class="btn text-white shadow-sm w-50 nagoyameshi-btn">変更する</button>
							</div>
							<div id="card-errors" role="alert"></div>
						</form>

						</div>
				     </div>
				 </div>
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <script src="https://js.stripe.com/v3"></script>
         <div th:replace="~{fragment :: scripts}"></div>
         <script th:src="@{/js/credit.js}"></script>   
         
   </body>
 </html>
